@import '../../styles/config';

.home {
  height: 100%;
  padding-top: 30vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: 
    linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url('../../assets/images/team-usual-suspects.jpg') center;
  background-size: cover;

  &__name {
    font-size: 4rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    text-decoration-line: underline;
    text-underline-offset: 10px;

    &--last {
      color: $secondary-color;
      font-weight: 700;
    }
  }
}

.social-icons {
  display: flex;
  flex-direction: column;
}
