<header>
    <div class="menu-btn" #menuButton (click)="toggleMenu()">
        <span #hamburger class="menu-btn__burger"></span>
    </div>

    <nav #navbar class="nav">
        <ul #menuNav class="menu-nav">
            <li class="menu-nav__item active" [ngClass]="{'open': this.showMenu == true}">
                <a href="#!" class="menu-nav__link">
                    Home
                </a>
            </li>
            <li class="menu-nav__item" [ngClass]="{'open': this.showMenu == true}">
                <a [routerLink]="['/wheel-of-fortune']" class="menu-nav__link">
                    Game Wheel
                </a>
            </li>
            <li class="menu-nav__item" [ngClass]="{'open': this.showMenu == true}">
                <a [routerLink]="['/about']" class="menu-nav__link">
                    Get in touch
                </a>
            </li>
        </ul>
    </nav>
</header>
<div class="home-icon">
    <button class="btn btn-sm btn-block text-white" routerLink="/startup"><i class="fas fa-home fa-2x"
            aria-hidden="true"></i></button>
</div>
<section id="team" class="pb-5 pt-5">
    <div class="container py-3">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let question of questionDetails.Questions">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src={{imgBasePath}}{{question.imageName}}
                                            alt="card image"></p>
                                    <h4 class="card-title">{{question.category}}</h4>
                                    <p class="card-text">{{question.disclaimer}}</p>
                                    <a href="" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Here you go!</h4>
                                    <p class="card-text">{{question.question}}</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="">
                                                <i class="fab fa-facebook fa-lg"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="">
                                                <i class="fab fa-twitter fa-lg"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="">
                                                <i class="fab fa-instagram fa-lg"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="">
                                                <i class="fab fa-github fa-lg"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>