<header>
    <div class="menu-btn" #menuButton (click)="toggleMenu()">
        <span #hamburger class="menu-btn__burger"></span>
    </div>

    <nav #navbar class="nav">
        <ul #menuNav class="menu-nav">
            <li class="menu-nav__item active" [ngClass]="{'open': this.showMenu == true}">
                <a href="#!" class="menu-nav__link">
                    Home
                </a>
            </li>
            <li class="menu-nav__item" [ngClass]="{'open': this.showMenu == true}">
                <a [routerLink]="['/wheel-of-fortune']" class="menu-nav__link">
                    Game Wheel
                </a>
            </li>
            <li class="menu-nav__item" [ngClass]="{'open': this.showMenu == true}">
                <a [routerLink]="['/about']" class="menu-nav__link">
                    Get in touch
                </a>
            </li>
        </ul>
    </nav>
</header>

<div class="row mx-4">
    <div class="col-sm-12 text-center">
        <img class="col-sm-4 responsive" src={{imgBasePath}}logo.png alt="impromptster-logo">
    </div>
</div>
<div style="margin-left: 35%; margin-right: 35%;">
    <div class="text-center my-1">
        <a routerLink="/wheel-of-fortune" routerLinkActive="active"
            class="btn btn-outline-warning btn-lg btn-block text-white" style="width: 100%;box-sizing: border-box;">Play</a>
    </div>
    <div class="text-center my-1">
        <a routerLink="/about" class="btn btn-outline-warning btn-lg btn-block text-white" style="width: 100%;box-sizing: border-box;">About</a>
    </div>
</div>